body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
  margin: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.column1 {
  flex-basis: calc(30% - 40px);
  margin-bottom: 16px;
  padding: 0 8px;
  margin-left: 30px;
  margin-right: 30px;
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.photo {
  text-align: center;
}

.about-section {
  padding: 10px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 20px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.githubImg {
  width: 30px;
  height: 30px;
}

.emailImg {
  width: 20px;
  height: 15px;
}

a {
  color: #000;
  font-size: small;
}

@media screen and (max-width: 650px) {
  .column {
    flex-basis: 100%;
  }
}