.customer_history_page {
    background-color: black;
      .customer-history {
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        font-family: "Helvetica Neue", sans-serif;
        margin-top: 1%;
        font-size: px;
        max-height: 100%; /* adjust the height as needed /
        overflow-y: auto; / add scrollbar when content exceeds max-height */
        }
    
    .customer-history th {
      background-color: black;
      color: white;
      font-weight: bold;
      padding: 10px;
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
      
    }
    
    .customer-history td {
      background-color: #f57f25;
      color: black;
      padding: 10px;
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
    
    .customer-history tr {
      border-bottom: 1px solid #ddd;
    }
    
    .customer-history td:last-child,
    .customer-history th:last-child {
      border-right: none;
    }
    
    .customer-history .done {
      background-color: green;
      color: white;
    }
    
    .customer-history .in-progress {
      background-color: yellow;
      color: black;
    }
    
    .history {
      margin-right: 10px;
    }
    
    .Logout {
      background-color: #f57f25;
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
      margin-top: 10px;
    }
    
    td .btn {
      background-color: #f61a1a;
      color: white;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
      transition-duration: 2s;
    }
    td .btn:hover{
      background-color: #000000;
      border: 3px solid rgb(0, 0, 0);
    }
    h1 {
      text-align: center;
    } 
    .navbar-nav li.nav-item a.nav-link:hover {
      /* Add your hover styles here */
      color:  #f57f25; /* For example, change the text color to red */
      /* Add any other styles you want to apply on hover */
    }
    .navbar-nav button.btn:hover {
      border-radius: 25% 10%;
      background-color: #f57f25;
    }
    }
    