.customer_history-page {
    background-color: black;
      .superhandy-table {
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        font-family: "Helvetica Neue", sans-serif;
        margin-top: 1%;
        font-size: 14px;
        max-height: 100%; /* adjust the height as needed /
        overflow-y: auto; / add scrollbar when content exceeds max-height */
        }
    
    .superhandy-table th {
      background-color: black;
      color: white;
      font-weight: bold;
      padding: 10px;
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
      
    }
    
    .superhandy-table td {
      background-color: #f57f25;
      color: black;
      padding: 10px;
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
    
    .superhandy-table tr {
      border-bottom: 1px solid #ddd;
    }
    
    .superhandy-table td:last-child,
    .superhandy-table th:last-child {
      border-right: none;
    }
    
    .superhandy-table .done {
      background-color: green;
      color: white;
    }
    
    .superhandy-table .in-progress {
      background-color: yellow;
      color: black;
    }
    
    .history {
      margin-right: 10px;
    }
    
    .Logout {
      background-color: #f57f25;
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
      margin-top: 10px;
    }
    
    .accept {
      background-color: #3f51b5;
      color: white;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
      transition-duration: 2s;
    }
    .accept:hover{
      background-color: #000000;
      border: 3px solid rgb(0, 0, 0);
    }
    h1 {
      text-align: center;
    } 
    .navbar-nav li.nav-item a.nav-link:hover {
      /* Add your hover styles here */
      color:  #f57f25; /* For example, change the text color to red */
      /* Add any other styles you want to apply on hover */
    }
    .navbar-nav button.btn:hover {
      border-radius: 25% 10%;
      background-color: #f57f25;
    }
    }
    