.handy-dash {
  margin: 2rem;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: linear-gradient(to bottom right, #4f5bd5, #9b78f2);


  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;

    &-item {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      color: white;

      span {
        font-weight: bold;
        margin-right: 0.5rem;
      }
    }
  }
}
